<a href="https://colab.research.google.com/github/maheshpandao/Mahesh/blob/main/6_DataExploring%2CMean%2CMedian%2CQuartile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exploring,Mean, Median, Quartil

Import The Library first

In [1]:
import pandas as pd

Load the Dataset from Local Directory

In [2]:
from google.colab import files
uploaded=files.upload()

Saving Dataset.csv to Dataset.csv

Load Dataset

In [5]:
dataset=pd.read_csv("Dataset.csv")
dataset

    land      price
0   1000     2245.0
1   2000     4575.0
2   3000     6874.0
3   4000     8878.0
4   5000        NaN
5   6000    12457.0
6   7000    14785.0
7   8000    16785.0
8  10000  2078900.0

Load Summarised

In [9]:
print(dataset.shape)
print(dataset.describe())

(9, 2)
               land         price
count      9.000000  8.000000e+00
mean    5111.111111  2.681874e+05
std     2934.469477  7.316554e+05
min     1000.000000  2.245000e+03
25%     3000.000000  6.299250e+03
50%     5000.000000  1.066750e+04
75%     7000.000000  1.528500e+04
max    10000.000000  2.078900e+06

cheking Nan Values

In [11]:
dataset.isna().any()

land     False
price     True
dtype: bool

Filling Nan Values with mean
Problem: New Value becomes high coz of outlier

In [12]:
MeanDatasetNan=dataset.price.fillna(dataset.price.mean())
MeanDatasetNan

0       2245.000
1       4575.000
2       6874.000
3       8878.000
4     268187.375
5      12457.000
6      14785.000
7      16785.000
8    2078900.000
Name: price, dtype: float64

Fill Nan values with median

In [14]:
MedianDatasetNan=dataset.price.fillna(dataset.price.median())
MedianDatasetNan

0       2245.0
1       4575.0
2       6874.0
3       8878.0
4      10667.5
5      12457.0
6      14785.0
7      16785.0
8    2078900.0
Name: price, dtype: float64

Identifying and Removing The outlier-Huge Differece in value

In [15]:
dataset.describe()

               land         price
count      9.000000  8.000000e+00
mean    5111.111111  2.681874e+05
std     2934.469477  7.316554e+05
min     1000.000000  2.245000e+03
25%     3000.000000  6.299250e+03
50%     5000.000000  1.066750e+04
75%     7000.000000  1.528500e+04
max    10000.000000  2.078900e+06

In [16]:
percentile=dataset.price.quantile(0.75)
percentile

15285.0

Remove the High value

In [17]:
percentile=dataset.price.quantile(1.0)
percentile

2078900.0

Print all Data removing High value/Outlier

In [18]:
datasetNoOutlier=dataset[dataset.price<percentile]
datasetNoOutlier

   land    price
0  1000   2245.0
1  2000   4575.0
2  3000   6874.0
3  4000   8878.0
5  6000  12457.0
6  7000  14785.0
7  8000  16785.0