<a href="https://colab.research.google.com/github/maheshpandao/Mahesh/blob/main/basicStatistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import libraries

In [2]:
import pandas as pd

Import the data

In [5]:
from google.colab import files
uploaded = files.upload()

Saving Dataset.csv to Dataset.csv

Load Dataset

In [6]:
dataset = pd.read_csv("Dataset.csv")
dtasetwithNan= dataset
dataset

    land      price
0   1000     2245.0
1   2000     4575.0
2   3000     6874.0
3   4000     8878.0
4   5000        NaN
5   6000    12457.0
6   7000    14785.0
7   8000    16785.0
8  10000  2078900.0

Load summarised

In [7]:
print(dataset.shape)
print(dataset.describe())

(9, 2)
               land         price
count      9.000000  8.000000e+00
mean    5111.111111  2.681874e+05
std     2934.469477  7.316554e+05
min     1000.000000  2.245000e+03
25%     3000.000000  6.299250e+03
50%     5000.000000  1.066750e+04
75%     7000.000000  1.528500e+04
max    10000.000000  2.078900e+06

Checking for Nan values

In [8]:
dataset.isna().any()

land     False
price     True
dtype: bool

Filling Nan values with mean

Problem: New values become high beacuse of outliers

Add maen

In [9]:
MeandatasetnotNan = dataset.price.fillna(dataset.price.mean())
MeandatasetnotNan

0       2245.000
1       4575.000
2       6874.000
3       8878.000
4     268187.375
5      12457.000
6      14785.000
7      16785.000
8    2078900.000
Name: price, dtype: float64

Solution: Fillling Nan value with mean

In [11]:
MeandatasetnotNan= dataset.price.fillna(dataset.price.median())
MeandatasetnotNan

0       2245.0
1       4575.0
2       6874.0
3       8878.0
4      10667.5
5      12457.0
6      14785.0
7      16785.0
8    2078900.0
Name: price, dtype: float64

In [12]:
dataset.describe()

               land         price
count      9.000000  8.000000e+00
mean    5111.111111  2.681874e+05
std     2934.469477  7.316554e+05
min     1000.000000  2.245000e+03
25%     3000.000000  6.299250e+03
50%     5000.000000  1.066750e+04
75%     7000.000000  1.528500e+04
max    10000.000000  2.078900e+06

In [15]:
percentile = dataset.price.quantile(0.75)
percentile

15285.0

In [16]:
percentile = dataset.price.quantile(1.0)
percentile

2078900.0

In [19]:
datasetnooutliers= dataset[dataset.price<percentile]
datasetnooutliers

   land    price
0  1000   2245.0
1  2000   4575.0
2  3000   6874.0
3  4000   8878.0
5  6000  12457.0
6  7000  14785.0
7  8000  16785.0