<a href="https://colab.research.google.com/github/maheshpandao/Mahesh/blob/main/Popullation_and_sampling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sampling the data from Whole Populationn

Import Libraries

In [1]:
import pandas as pd  #useful for loading dataset
import numpy as np

Load Dataset From Loacal Library

In [2]:
from google.colab import files
uploaded=files.upload()

Saving Dataset.csv to Dataset.csv

Load dataset

In [4]:
dataset=pd.read_csv('Dataset.csv')
print(dataset.shape)
print(dataset.describe())
print(dataset.head(5))

(1460, 3)
                Id        LotArea      SalePrice
count  1460.000000    1460.000000    1460.000000
mean    730.500000   10516.828082  180921.195890
std     421.610009    9981.264932   79442.502883
min       1.000000    1300.000000   34900.000000
25%     365.750000    7553.500000  129975.000000
50%     730.500000    9478.500000  163000.000000
75%    1095.250000   11601.500000  214000.000000
max    1460.000000  215245.000000  755000.000000
   Id  LotArea  SalePrice
0   1     8450     208500
1   2     9600     181500
2   3    11250     223500
3   4     9550     140000
4   5    14260     250000

Simple random sampling

In [12]:
simpleRandomSample = dataset.sample(n=10).sort_values(by="Id")
meanSimpleRandomSample=round(simpleRandomSample['SalePrice'].mean(),3)
print("Mean Simple Random sampling:",meanSimpleRandomSample)
print(simpleRandomSample)

Mean Simple Random sampling: 164020.0
        Id  LotArea  SalePrice
197    198    25419     235000
236    237     8773     185500
469    470     9291     187000
603    604     3182     151000
689    690     7577     194700
966    967     9600     160000
1072  1073     7585      91500
1214  1215    10205     134500
1343  1344     7558     177000
1391  1392     8944     124000

Systematic Sampling

In [16]:
index=np.arange(0,len(dataset),step=5)
print(index)
SystematicSample=dataset.iloc[index]
mean_SystematicSample=round(SystematicSample['SalePrice'].mean(),3)
print("Mean Systematic Sample:",mean_SystematicSample)
print(SystematicSample)

[   0    5   10   15   20   25   30   35   40   45   50   55   60   65
   70   75   80   85   90   95  100  105  110  115  120  125  130  135
  140  145  150  155  160  165  170  175  180  185  190  195  200  205
  210  215  220  225  230  235  240  245  250  255  260  265  270  275
  280  285  290  295  300  305  310  315  320  325  330  335  340  345
  350  355  360  365  370  375  380  385  390  395  400  405  410  415
  420  425  430  435  440  445  450  455  460  465  470  475  480  485
  490  495  500  505  510  515  520  525  530  535  540  545  550  555
  560  565  570  575  580  585  590  595  600  605  610  615  620  625
  630  635  640  645  650  655  660  665  670  675  680  685  690  695
  700  705  710  715  720  725  730  735  740  745  750  755  760  765
  770  775  780  785  790  795  800  805  810  815  820  825  830  835
  840  845  850  855  860  865  870  875  880  885  890  895  900  905
  910  915  920  925  930  935  940  945  950  955  960  965  970  975
  980  985  990  995 1000 1005 1010 1015 1020 1025 1030 1035 1040 1045
 1050 1055 1060 1065 1070 1075 1080 1085 1090 1095 1100 1105 1110 1115
 1120 1125 1130 1135 1140 1145 1150 1155 1160 1165 1170 1175 1180 1185
 1190 1195 1200 1205 1210 1215 1220 1225 1230 1235 1240 1245 1250 1255
 1260 1265 1270 1275 1280 1285 1290 1295 1300 1305 1310 1315 1320 1325
 1330 1335 1340 1345 1350 1355 1360 1365 1370 1375 1380 1385 1390 1395
 1400 1405 1410 1415 1420 1425 1430 1435 1440 1445 1450 1455]
Mean Systematic Sample: 178146.13
        Id  LotArea  SalePrice
0        1     8450     208500
5        6    14115     143000
10      11    11200     129500
15      16     6120     132000
20      21    14215     325300
...    ...      ...        ...
1435  1436     8400     174000
1440  1441    11526     191000
1445  1446     8400     129000
1450  1451     9000     136000
1455  1456     7917     175000

[292 rows x 3 columns]

Cluster Sampling

In [24]:
n=5
dataset['cluster_id']=np.repeat([range(1,1+n)],len(dataset)/n)
index=[]
for i in range(0, len(dataset)):
    if dataset['cluster_id'].iloc[i]%2==0:
        index.append(i)
clusterSample = dataset.iloc[index]
mean_clusterSample = round(clusterSample['SalePrice'].mean(),3)
print("Mean of Cluster Sample:",mean_clusterSample)
print(clusterSample)

Mean of Cluster Sample: 178023.509
        Id  LotArea  SalePrice  cluster_id
292    293    11409     131000           2
293    294    16659     235000           2
294    295     9600     167000           2
295    296     7937     142500           2
296    297    13710     152000           2
...    ...      ...        ...         ...
1163  1164    12900     108959           4
1164  1165    16157     194000           4
1165  1166     9541     233170           4
1166  1167    10475     245350           4
1167  1168    10852     173000           4

[584 rows x 4 columns]

Stratifield Random Sampling : Adding Subgroup (Strata)

In [25]:
dataset = pd.read_csv('Dataset.csv')
dataset['strata']=np.repeat([1,2],len(dataset)/2)
index=[]
for i in range(0, len(dataset)):
    index.append(i)
stratifieldrandomsample = dataset.iloc[index]
stratifieldrandomsample

        Id  LotArea  SalePrice  strata
0        1     8450     208500       1
1        2     9600     181500       1
2        3    11250     223500       1
3        4     9550     140000       1
4        5    14260     250000       1
...    ...      ...        ...     ...
1455  1456     7917     175000       2
1456  1457    13175     210000       2
1457  1458     9042     266500       2
1458  1459     9717     142125       2
1459  1460     9937     147500       2

[1460 rows x 4 columns]

In [32]:
from sklearn.model_selection import StratifiedShuffleSplit as sss

#Set the Split Criteria
split = sss (n_splits=1, test_size=8)

#Perform Dataset split
for x, y in split.split(dataset,dataset['strata']):
    stratifieldrandomsample=dataset.iloc[y].sort_values(by='SalePrice')
stratifieldrandomsample

        Id  LotArea  SalePrice  strata
1407  1408     8780     112000       2
108    109     8500     115000       1
986    987     5310     117000       2
777    778    13350     142500       2
411    412    34650     145000       1
768    769     9100     216837       2
602    603    10041     220000       1
478    479    10637     297000       1